.traveller__section {
  width: 100%;
  height: 110vh;
  /* background-color: red; */
}

.text__maincontainer {
  width: 100%;
  height: 40vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.traveller__text {
  width: 30%;
  height: 160px;
  /* background-color: rgb(154, 17, 17); */
  text-align: center;
  line-height: 2.7;
}

.traveller__heading1 {
  font-family: Lora;
  font-size: 35px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.005em;
  color: #c7923e;
}

.traveller__heading2 {
  height: 116px;
  width: 100%;
  left: 336px;
  top: 4063px;
  border-radius: undefinedpx;
  font-family: Lora;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0.005em;
  text-align: center;
  /* background-color: #c7923e; */
}

.traveller__cards {
 /* background-color: #c7923e;  */
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  padding-top: 1%;
}

.cards__container {
  height: 350px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
  gap: 8%;
  box-shadow: #7d7d7d 1px 1px 1px 1px;
}

.image__holder {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid #304f47;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__holder img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.heading__emma {
  height: 19px;
  width: 202px;
  left: 189px;
  top: 4439px;
  border-radius: nullpx;
  font-family: Lora;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.005em;
  text-align: center;
 /*  background-color: white; */
}

.sentence__emma {
  /* background-color: white; */
  height: 115px;
  width: 249px;
  left: 166px;
  top: 4479px;
  border-radius: nullpx;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.005em;
  text-align: justified;
}
